

# Banco de Dados
db.sqlite3*

# Arquivos compilados do Python
__pycache__/
*.pyc

# Mídia (uploads de usuários)
media/

# Logs
*.log

# Arquivos estáticos coletados
staticfiles/

# Ambientes Virtuais
venv/
.venv/
env/
.env/

# Dependências do Node.js (MUITO IMPORTANTE)
node_modules/

# Arquivos de Sistema
.DS_Store
__pycache__/

# Arquivos de IDE
.vscode/
.idea/